* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    border: 2px solid red;
    width: 1000px;
    height: 700px;
    display: flex;
    border-radius: 10px;
}

.box1 {
    height: 100%;
    width: 50%;
    display: flex;
}

.box2 {
    background-color: #49C0E3;
    height: 100%;
    width: 50%;
    display: flex;
}